.card-container {
    gap: 2rem;
    height: 100%;
    padding: 1rem;
    /* border-style: solid; */
}

.card {
    border-style: solid;
}

.image-container {
    /* border-style: solid; */
    
}

.component-image {
    width: 100%;
}