:root {
    --background-color: black;
    --border-color: rgb(255, 255, 255, 0.1);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

@media all and (orientation: landscape) {
    #nav-logo-section,
    #nav-social-section {
        flex-basis: calc((100% / 4));
        gap: 3rem;
    }

    #nav-link-section {
        flex-basis: calc((100% / 2));
        gap: 6rem;
        font-size: 1.5rem;
    }

    #nav-logo-section {
        justify-content: flex-start;
        font-size: 2.5rem;
    }

    #nav-menu-section {
        display: none;
    }

    #social-logo {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}

@media all and (orientation: portrait) {
    #nav-logo-section,
    #nav-menu-section {
        flex-basis: calc((100% / 2));
        gap: 3rem;
    }

    #nav-link-section,
    #nav-social-section {
        display: none;
    }

    #nav-logo-section {
        justify-content: flex-start;
    }

    #nav-menu-section {
        justify-content: flex-end;
    }

    #social-logo {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}


